$base-color: #6840e5;
$danger-color: #FF5154;

button{
  position: relative;
}

body{
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 500px;

  @media(max-width: 991px){
      padding-top: 70px;
  }
}
