@mixin transition($transition-property){
  -webkit-transition: $transition-property;
  -ms-transition: $transition-property;
  transition: $transition-property;
}

@mixin transition-delay($delay){
  -webkit-transition-delay: $delay;
  -ms-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin transforms($transform){
  -webkit-transform:  $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin transform-origin($x, $y){
  -webkit-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin transform-style($style){
  -webkit-transform-style: $style;
  transform-style: $style;
}

@mixin animation($animation){
  -webkit-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

@mixin perspective($value){
  -webkit-perspective: $value;
  -ms-perspective: $value;
  perspective: $value;
}

@mixin perspective-origin($x, $y){
  -webkit-perspective-origin: $x $y;
  -ms-perspective-origin: $x $y;
  perspective-origin: $x $y;
}

@mixin box-shadow($box-shadow){
  -webkit-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin filter($function){
  -webkit-filter: $function;
  filter: $function;
}
