button {
  position: relative; }

body {
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 500px; }
  @media (max-width: 991px) {
    body {
      padding-top: 70px; } }

body {
  font-family: 'Nunito', sans-serif; }

h1 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold; }

@font-face {
  font-family: "dripicons-v2";
  src: url("fonts/dripicons-v2.eot");
  src: url("fonts/dripicons-v2.eot?#iefix") format("embedded-opentype"), url("fonts/dripicons-v2.woff") format("woff"), url("fonts/dripicons-v2.ttf") format("truetype"), url("fonts/dripicons-v2.svg#dripicons-v2") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "dripicons-v2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="dripicons-"]:before,
[class*=" dripicons-"]:before {
  font-family: "dripicons-v2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.dripicons-alarm:before {
  content: "\61"; }

.dripicons-align-center:before {
  content: "\62"; }

.dripicons-align-justify:before {
  content: "\63"; }

.dripicons-align-left:before {
  content: "\64"; }

.dripicons-align-right:before {
  content: "\65"; }

.dripicons-anchor:before {
  content: "\66"; }

.dripicons-archive:before {
  content: "\67"; }

.dripicons-arrow-down:before {
  content: "\68"; }

.dripicons-arrow-left:before {
  content: "\69"; }

.dripicons-arrow-right:before {
  content: "\6a"; }

.dripicons-arrow-thin-down:before {
  content: "\6b"; }

.dripicons-arrow-thin-left:before {
  content: "\6c"; }

.dripicons-arrow-thin-right:before {
  content: "\6d"; }

.dripicons-arrow-thin-up:before {
  content: "\6e"; }

.dripicons-arrow-up:before {
  content: "\6f"; }

.dripicons-article:before {
  content: "\70"; }

.dripicons-backspace:before {
  content: "\71"; }

.dripicons-basket:before {
  content: "\72"; }

.dripicons-basketball:before {
  content: "\73"; }

.dripicons-battery-empty:before {
  content: "\74"; }

.dripicons-battery-full:before {
  content: "\75"; }

.dripicons-battery-low:before {
  content: "\76"; }

.dripicons-battery-medium:before {
  content: "\77"; }

.dripicons-bell:before {
  content: "\78"; }

.dripicons-blog:before {
  content: "\79"; }

.dripicons-bluetooth:before {
  content: "\7a"; }

.dripicons-bold:before {
  content: "\41"; }

.dripicons-bookmark:before {
  content: "\42"; }

.dripicons-bookmarks:before {
  content: "\43"; }

.dripicons-box:before {
  content: "\44"; }

.dripicons-briefcase:before {
  content: "\45"; }

.dripicons-brightness-low:before {
  content: "\46"; }

.dripicons-brightness-max:before {
  content: "\47"; }

.dripicons-brightness-medium:before {
  content: "\48"; }

.dripicons-broadcast:before {
  content: "\49"; }

.dripicons-browser:before {
  content: "\4a"; }

.dripicons-browser-upload:before {
  content: "\4b"; }

.dripicons-brush:before {
  content: "\4c"; }

.dripicons-calendar:before {
  content: "\4d"; }

.dripicons-camcorder:before {
  content: "\4e"; }

.dripicons-camera:before {
  content: "\4f"; }

.dripicons-card:before {
  content: "\50"; }

.dripicons-cart:before {
  content: "\51"; }

.dripicons-checklist:before {
  content: "\52"; }

.dripicons-checkmark:before {
  content: "\53"; }

.dripicons-chevron-down:before {
  content: "\54"; }

.dripicons-chevron-left:before {
  content: "\55"; }

.dripicons-chevron-right:before {
  content: "\56"; }

.dripicons-chevron-up:before {
  content: "\57"; }

.dripicons-clipboard:before {
  content: "\58"; }

.dripicons-clock:before {
  content: "\59"; }

.dripicons-clockwise:before {
  content: "\5a"; }

.dripicons-cloud:before {
  content: "\30"; }

.dripicons-cloud-download:before {
  content: "\31"; }

.dripicons-cloud-upload:before {
  content: "\32"; }

.dripicons-code:before {
  content: "\33"; }

.dripicons-contract:before {
  content: "\34"; }

.dripicons-contract-2:before {
  content: "\35"; }

.dripicons-conversation:before {
  content: "\36"; }

.dripicons-copy:before {
  content: "\37"; }

.dripicons-crop:before {
  content: "\38"; }

.dripicons-cross:before {
  content: "\39"; }

.dripicons-crosshair:before {
  content: "\21"; }

.dripicons-cutlery:before {
  content: "\22"; }

.dripicons-device-desktop:before {
  content: "\23"; }

.dripicons-device-mobile:before {
  content: "\24"; }

.dripicons-device-tablet:before {
  content: "\25"; }

.dripicons-direction:before {
  content: "\26"; }

.dripicons-disc:before {
  content: "\27"; }

.dripicons-document:before {
  content: "\28"; }

.dripicons-document-delete:before {
  content: "\29"; }

.dripicons-document-edit:before {
  content: "\2a"; }

.dripicons-document-new:before {
  content: "\2b"; }

.dripicons-document-remove:before {
  content: "\2c"; }

.dripicons-dot:before {
  content: "\2d"; }

.dripicons-dots-2:before {
  content: "\2e"; }

.dripicons-dots-3:before {
  content: "\2f"; }

.dripicons-download:before {
  content: "\3a"; }

.dripicons-duplicate:before {
  content: "\3b"; }

.dripicons-enter:before {
  content: "\3c"; }

.dripicons-exit:before {
  content: "\3d"; }

.dripicons-expand:before {
  content: "\3e"; }

.dripicons-expand-2:before {
  content: "\3f"; }

.dripicons-experiment:before {
  content: "\40"; }

.dripicons-export:before {
  content: "\5b"; }

.dripicons-feed:before {
  content: "\5d"; }

.dripicons-flag:before {
  content: "\5e"; }

.dripicons-flashlight:before {
  content: "\5f"; }

.dripicons-folder:before {
  content: "\60"; }

.dripicons-folder-open:before {
  content: "\7b"; }

.dripicons-forward:before {
  content: "\7c"; }

.dripicons-gaming:before {
  content: "\7d"; }

.dripicons-gear:before {
  content: "\7e"; }

.dripicons-graduation:before {
  content: "\5c"; }

.dripicons-graph-bar:before {
  content: "\e000"; }

.dripicons-graph-line:before {
  content: "\e001"; }

.dripicons-graph-pie:before {
  content: "\e002"; }

.dripicons-headset:before {
  content: "\e003"; }

.dripicons-heart:before {
  content: "\e004"; }

.dripicons-help:before {
  content: "\e005"; }

.dripicons-home:before {
  content: "\e006"; }

.dripicons-hourglass:before {
  content: "\e007"; }

.dripicons-inbox:before {
  content: "\e008"; }

.dripicons-information:before {
  content: "\e009"; }

.dripicons-italic:before {
  content: "\e00a"; }

.dripicons-jewel:before {
  content: "\e00b"; }

.dripicons-lifting:before {
  content: "\e00c"; }

.dripicons-lightbulb:before {
  content: "\e00d"; }

.dripicons-link:before {
  content: "\e00e"; }

.dripicons-link-broken:before {
  content: "\e00f"; }

.dripicons-list:before {
  content: "\e010"; }

.dripicons-loading:before {
  content: "\e011"; }

.dripicons-location:before {
  content: "\e012"; }

.dripicons-lock:before {
  content: "\e013"; }

.dripicons-lock-open:before {
  content: "\e014"; }

.dripicons-mail:before {
  content: "\e015"; }

.dripicons-map:before {
  content: "\e016"; }

.dripicons-media-loop:before {
  content: "\e017"; }

.dripicons-media-next:before {
  content: "\e018"; }

.dripicons-media-pause:before {
  content: "\e019"; }

.dripicons-media-play:before {
  content: "\e01a"; }

.dripicons-media-previous:before {
  content: "\e01b"; }

.dripicons-media-record:before {
  content: "\e01c"; }

.dripicons-media-shuffle:before {
  content: "\e01d"; }

.dripicons-media-stop:before {
  content: "\e01e"; }

.dripicons-medical:before {
  content: "\e01f"; }

.dripicons-menu:before {
  content: "\e020"; }

.dripicons-message:before {
  content: "\e021"; }

.dripicons-meter:before {
  content: "\e022"; }

.dripicons-microphone:before {
  content: "\e023"; }

.dripicons-minus:before {
  content: "\e024"; }

.dripicons-monitor:before {
  content: "\e025"; }

.dripicons-move:before {
  content: "\e026"; }

.dripicons-music:before {
  content: "\e027"; }

.dripicons-network-1:before {
  content: "\e028"; }

.dripicons-network-2:before {
  content: "\e029"; }

.dripicons-network-3:before {
  content: "\e02a"; }

.dripicons-network-4:before {
  content: "\e02b"; }

.dripicons-network-5:before {
  content: "\e02c"; }

.dripicons-pamphlet:before {
  content: "\e02d"; }

.dripicons-paperclip:before {
  content: "\e02e"; }

.dripicons-pencil:before {
  content: "\e02f"; }

.dripicons-phone:before {
  content: "\e030"; }

.dripicons-photo:before {
  content: "\e031"; }

.dripicons-photo-group:before {
  content: "\e032"; }

.dripicons-pill:before {
  content: "\e033"; }

.dripicons-pin:before {
  content: "\e034"; }

.dripicons-plus:before {
  content: "\e035"; }

.dripicons-power:before {
  content: "\e036"; }

.dripicons-preview:before {
  content: "\e037"; }

.dripicons-print:before {
  content: "\e038"; }

.dripicons-pulse:before {
  content: "\e039"; }

.dripicons-question:before {
  content: "\e03a"; }

.dripicons-reply:before {
  content: "\e03b"; }

.dripicons-reply-all:before {
  content: "\e03c"; }

.dripicons-return:before {
  content: "\e03d"; }

.dripicons-retweet:before {
  content: "\e03e"; }

.dripicons-rocket:before {
  content: "\e03f"; }

.dripicons-scale:before {
  content: "\e040"; }

.dripicons-search:before {
  content: "\e041"; }

.dripicons-shopping-bag:before {
  content: "\e042"; }

.dripicons-skip:before {
  content: "\e043"; }

.dripicons-stack:before {
  content: "\e044"; }

.dripicons-star:before {
  content: "\e045"; }

.dripicons-stopwatch:before {
  content: "\e046"; }

.dripicons-store:before {
  content: "\e047"; }

.dripicons-suitcase:before {
  content: "\e048"; }

.dripicons-swap:before {
  content: "\e049"; }

.dripicons-tag:before {
  content: "\e04a"; }

.dripicons-tag-delete:before {
  content: "\e04b"; }

.dripicons-tags:before {
  content: "\e04c"; }

.dripicons-thumbs-down:before {
  content: "\e04d"; }

.dripicons-thumbs-up:before {
  content: "\e04e"; }

.dripicons-ticket:before {
  content: "\e04f"; }

.dripicons-time-reverse:before {
  content: "\e050"; }

.dripicons-to-do:before {
  content: "\e051"; }

.dripicons-toggles:before {
  content: "\e052"; }

.dripicons-trash:before {
  content: "\e053"; }

.dripicons-trophy:before {
  content: "\e054"; }

.dripicons-upload:before {
  content: "\e055"; }

.dripicons-user:before {
  content: "\e056"; }

.dripicons-user-group:before {
  content: "\e057"; }

.dripicons-user-id:before {
  content: "\e058"; }

.dripicons-vibrate:before {
  content: "\e059"; }

.dripicons-view-apps:before {
  content: "\e05a"; }

.dripicons-view-list:before {
  content: "\e05b"; }

.dripicons-view-list-large:before {
  content: "\e05c"; }

.dripicons-view-thumb:before {
  content: "\e05d"; }

.dripicons-volume-full:before {
  content: "\e05e"; }

.dripicons-volume-low:before {
  content: "\e05f"; }

.dripicons-volume-medium:before {
  content: "\e060"; }

.dripicons-volume-off:before {
  content: "\e061"; }

.dripicons-wallet:before {
  content: "\e062"; }

.dripicons-warning:before {
  content: "\e063"; }

.dripicons-web:before {
  content: "\e064"; }

.dripicons-weight:before {
  content: "\e065"; }

.dripicons-wifi:before {
  content: "\e066"; }

.dripicons-wrong:before {
  content: "\e067"; }

.dripicons-zoom-in:before {
  content: "\e068"; }

.dripicons-zoom-out:before {
  content: "\e069"; }

.button {
  display: inline-block;
  z-index: 200;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  background-image: none;
  border: 3px solid #6840e5;
  border-radius: 6px;
  color: #6840e5;
  background-color: transparent;
  -webkit-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease; }
  .button:hover {
    border: 3px solid #6840e5;
    color: #ffffff;
    background-color: #6840e5; }
  .button[disabled] {
    border: 3px solid #bbbbbb;
    background-color: #bbbbbb;
    color: #e6e6e6; }
    .button[disabled]:hover {
      border: 3px solid #bbbbbb;
      background-color: #bbbbbb;
      color: #e6e6e6; }
  .button.red {
    color: #FF5154;
    border: 3px solid #FF5154; }
    .button.red:hover {
      border: 3px solid #FF5154;
      color: #ffffff;
      background-color: #FF5154; }
  .button.full-width {
    width: 100%;
    max-width: auto; }

.watchlist-card {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto 25px auto;
  max-width: 357px;
  height: 500px;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px 15px 0 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 150px 150px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 150px 150px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 150px 150px rgba(0, 0, 0, 0.3); }
  .watchlist-card h2 {
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 0; }
  .watchlist-card h5 {
    font-size: 12px; }
  .watchlist-card h4 {
    font-size: 20px;
    color: #ffffff;
    margin: 0px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26); }
  .watchlist-card h6 {
    z-index: 20;
    position: absolute;
    bottom: 60px;
    font-weight: bold;
    left: 0;
    width: 100%;
    padding: 10px 0 10px 15px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2); }
    .watchlist-card h6 small {
      text-transform: none;
      color: inherit; }
  .watchlist-card h2, .watchlist-card h5 {
    z-index: 10;
    font-weight: bold;
    position: relative;
    color: #ffffff; }
  @media (max-width: 767px) {
    .watchlist-card h2 {
      font-size: 25px; }
    .watchlist-card h4 {
      font-size: 15px; } }

.watchlist-card .more-button {
  z-index: 300;
  position: absolute;
  top: 15px;
  right: 15px; }

.watchlist-card .slide-out-panel {
  padding-top: 50px;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0; }

.watchlist-card .tab-panels {
  height: 360px; }
  .watchlist-card .tab-panels .button.red {
    width: 90%;
    display: block;
    margin: 25px auto 10px auto; }

.frost-glass {
  z-index: 20;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.17); }

.frost {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-position: center 99%;
  background-size: cover;
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-box-shadow: inset 0 -50px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 -50px 30px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -50px 30px rgba(0, 0, 0, 0.2); }

.countdown-timer .time {
  z-index: 100;
  width: 25%;
  position: relative;
  display: inline;
  float: left;
  font-size: 24px;
  line-height: 18px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  margin: 20px 0 0 0; }
  .countdown-timer .time i {
    font-size: 10px;
    display: block;
    width: 100%; }

.more-button {
  z-index: 300;
  position: relative;
  overflow: hidden;
  background-image: none;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  padding: 0;
  -webkit-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
  transition: transform 300ms ease;
  -webkit-transform: translate(0, 345px) scale(1);
  -ms-transform: translate(0, 345px) scale(1);
  transform: translate(0, 345px) scale(1);
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); }
  .more-button span {
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease; }
  .more-button .dripicons-plus {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 35px;
    line-height: 2.1;
    opacity: 1;
    -webkit-transform: translate(-60px, 0) scale(0);
    -ms-transform: translate(-60px, 0) scale(0);
    transform: translate(-60px, 0) scale(0); }
  .more-button .behind {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 21px;
    line-height: 60px;
    font-weight: bold;
    opacity: 1;
    color: #6840e5;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); }
  .more-button:hover, .more-button:focus {
    -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.8); }
    .more-button:hover .behind, .more-button:focus .behind {
      opacity: 0;
      -webkit-transform: translate(60px, 0) scale(0);
      -ms-transform: translate(60px, 0) scale(0);
      transform: translate(60px, 0) scale(0); }
    .more-button:hover .dripicons-plus, .more-button:focus .dripicons-plus {
      opacity: 1;
      -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
      transform: translate(0, 0) scale(1); }
  .more-button.open {
    -webkit-transform: translate(0, 0) scale(0.5) rotate(45deg);
    -ms-transform: translate(0, 0) scale(0.5) rotate(45deg);
    transform: translate(0, 0) scale(0.5) rotate(45deg); }
    .more-button.open .behind {
      opacity: 0;
      -webkit-transform: translate(60px, 0) scale(0);
      -ms-transform: translate(60px, 0) scale(0);
      transform: translate(60px, 0) scale(0); }
    .more-button.open .dripicons-plus {
      opacity: 1;
      -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
      transform: translate(0, 0) scale(1); }
  .more-button.up-to-date .behind {
    opacity: 0;
    -webkit-transform: translate(60px, 0) scale(0);
    -ms-transform: translate(60px, 0) scale(0);
    transform: translate(60px, 0) scale(0); }
  .more-button.up-to-date .dripicons-plus {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); }

.slide-out-panel {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  will-change: transform;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
  .slide-out-panel.open {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.tabs {
  min-height: 70px;
  width: 90%;
  margin: auto;
  overflow-x: auto; }
  .tabs .tab-button {
    width: 20%; }

.tab-button {
  text-align: center;
  float: left;
  width: 100%;
  padding: 4px 0;
  color: #ffffff;
  display: inline-block;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 5px 0;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  transition: opacity 200ms ease; }
  .tab-button.active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #ffffff; }
  .tab-button:hover {
    cursor: pointer;
    border: 1px solid #ffffff; }

.tab-panels {
  position: relative;
  width: 100%;
  display: block;
  overflow-y: auto;
  height: 360px; }
  .tab-panels .tab-panel {
    z-index: 100;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease; }
    .tab-panels .tab-panel.active {
      z-index: 200;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
  .tab-panels::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

.panel-row {
  margin: 10px auto;
  height: 50px;
  width: 90%;
  background-color: #ffffff;
  display: block;
  padding: 15px 10px;
  border-radius: 4px;
  -webkit-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  transition: opacity 500ms ease; }
  .panel-row .col-35, .panel-row .col-45, .panel-row .col-20 {
    float: left;
    line-height: 1.5; }
  .panel-row .col-35 {
    width: 35%;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
    .panel-row .col-35 .aired-by {
      float: left;
      font-size: 11px;
      line-height: 1;
      border: 2px solid #6840e5;
      color: #6840e5;
      padding: 3px 8px;
      border-radius: 11px; }
  .panel-row .col-45 {
    width: 45%;
    font-weight: 700; }
  .panel-row .col-20 {
    width: 20%;
    text-align: right;
    font-size: 22px; }
    .panel-row .col-20 .dripicons-preview {
      cursor: pointer;
      opacity: 0.5;
      -webkit-transition: opacity 200ms ease;
      -ms-transition: opacity 200ms ease;
      transition: opacity 200ms ease; }
      .panel-row .col-20 .dripicons-preview:hover {
        opacity: 1; }
      .panel-row .col-20 .dripicons-preview.active {
        opacity: 1;
        color: #6840e5; }
  .panel-row.disabled {
    opacity: 0.8; }

.margin-none {
  margin: 0 !important; }

.margin-top-0 {
  margin-top: 0 !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-top-60 {
  margin-top: 60px !important; }

.padding-bottom-0 {
  padding-bottom: 0 !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

.padding-bottom-40 {
  padding-bottom: 40px !important; }

.padding-bottom-120 {
  padding-bottom: 120px !important; }

.padding-top-0 {
  padding-top: 0 !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-top-40 {
  padding-top: 40px !important; }

.padding-top-60 {
  padding-top: 60px !important; }

.padding-top-70 {
  padding-top: 70px !important; }

.padding-top-120 {
  padding-top: 120px !important; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-bottom-70 {
  margin-bottom: 70px !important; }

.margin-bottom-100 {
  margin-bottom: 100px !important; }

@media (max-width: 991px) {
  .margin-bottom-sm-0 {
    margin-bottom: 0 !important; }
  .margin-bottom-sm-10 {
    margin-bottom: 10px !important; }
  .margin-bottom-sm-20 {
    margin-bottom: 20px !important; }
  .margin-bottom-sm-30 {
    margin-bottom: 30px !important; }
  .margin-bottom-sm-40 {
    margin-bottom: 40px !important; }
  .margin-top-sm-0 {
    margin-top: 0 !important; }
  .margin-top-sm-10 {
    margin-top: 10px !important; }
  .margin-top-sm-20 {
    margin-top: 20px !important; }
  .margin-top-sm-30 {
    margin-top: 30px !important; }
  .margin-top-sm-40 {
    margin-top: 40px !important; } }

@media (max-width: 767px) {
  .margin-bottom-xs-0 {
    margin-bottom: 0 !important; }
  .margin-bottom-xs-10 {
    margin-bottom: 10px !important; }
  .margin-bottom-xs-20 {
    margin-bottom: 20px !important; }
  .margin-bottom-xs-30 {
    margin-bottom: 30px !important; }
  .margin-bottom-xs-40 {
    margin-bottom: 40px !important; }
  .margin-top-xs-0 {
    margin-top: 0 !important; }
  .margin-top-xs-10 {
    margin-top: 10px !important; }
  .margin-top-xs-20 {
    margin-top: 20px !important; }
  .margin-top-xs-30 {
    margin-top: 30px !important; }
  .margin-top-xs-40 {
    margin-top: 40px !important; } }
